body {
	background-color: #F0E68C;
}

h1 {
	padding: 30px;
	color: black;
	text-align: center;
}

img { 
    height: 250px;
    width: 250px;
}

.gifDiv{
    float: left;
    margin: 3px;
}

#input {
	margin-right: 5px;
}

#displayButtons {
	margin-left: 75px;
}

#form {
	color: white;
	font-size: 25px;
}

input[type="text"]{
	color: black;
}

